<form action="{{ _form.action }}" method="{{ _form.method }}" accept-charset="utf-8" class="async">
  <p>
    <label for="title">title</label>
    <input type="text" name="title" id="title" value="{{ project.title }}" />
  </p>
  <p>
    <label for="slug">slug</label>
    <input type="text" name="slug" id="slug" value="{{ project.slug }}" />
  </p>
  <p>
    <label for="description">description</label>
    <textarea name="description" id="description">{{ project.description }}</textarea>
  </p>
  <p>
    <input name="my_file" type="file" multiple="multiple" />
  </p>
  <ul class="attachments">
  </ul>
  <p><input type="submit" value="{{ _form.submit }}" /></p>
</form>
