<header class="unitx5">
  <h1>{{#_form.create}}New Project{{/_form.create}}{{^_form.create}}Edit Project{{/_form.create}}</h1>
</header>
<section class="unitx5">
  <form action="{{ _form.action }}" method="{{ _form.method }}" accept-charset="utf-8" class="async unitx4">
    <section class="unitx4">
      <fieldset class="unitx4">
        <label for="title" class="unitx2 first field-first">
          title
          <input type="text" name="title" id="title" value="{{ project.title }}">
        </label>
        <label for="slug" class="unitx2 field-last">
          slug
          <input type="text" name="slug" id="slug" value="{{ project.slug }}">
        </label>
        <label for="description" class="unitx4 first field-describe">
          description
          <textarea name="description" id="description">{{ project.description }}</textarea>
        </label>
        {{#_form.create}}
        <p class="restricted clear">You have to create the project, before you're able to upload attachments.</p>
        {{/_from.create}}
        <label for="attachments" class="unitx4 first field-first">
          Upload Attachments
          <input name="attachments" type="file" multiple id="attachments"{{#_form.create}} disabled="disabled"{{/_form.create}}>
        </label>
        <ul class="attachments">
        </ul>
      </fieldset>
      <fieldset class="unitx4">
        <input type="submit" value="{{ _form.submit }}">
      </fieldset>
    </section>
  </form>
</section>
