@charset "UTF-8";
@media screen {
    body {background: #4f585e; color: #fff; font-size: 10px; font-family: 'HelveticaNeue', helvetica, arial, sans-serif; font-weight: lighter; text-align: center; padding: 0 auto;}
    
    img {font-size: 10px;}
    
    a {color: #fff; text-decoration: none;}
    a:hover {text-decoration: underline;}
    
    h1 {font-size: 2.4em;}
    
    div#page {margin: 0 auto; min-height: 101%; height: auto !important; height: 101%; text-align: left;}
    
    div#page div#header {height: 18em;}
    
    div#page div#content {margin: 0 auto; background: transparent url(../img/content_background.png) top left repeat; padding: 6em 0em 5em 0em; text-align: center;}
    
    div#page div#footer {text-align: center; margin: 6em 0em 0em 0em;}
    div#page div#footer ul {margin: 0em 0em 2em 0em;}
    div#page div#footer ul li {display: inline;}
    div#page div#footer ul li a {font-size: 1.2em; color: #cfcfcf; font-family: 'HelveticaNeue-CondensedBold', helvetica, arial, sans-serif;}
    div#page div#footer p {color: #657178; font-family: 'HelveticaNeue-Regular', helvetica, arial, sans-serif;}
}