*xls
*.db
*.orig
*.rej
*~
*.o
*.pyc
*.pyo
*.pydevproject
*.project
*.settings
tests/*.err
*/nbproject/*
sqlite.db
.DS_Store
build
*_local*
*.svn
cruft*
*pdf
*tgz
*tmp*
*/static/uploads/*
*/static/projects/*
*background-grid*

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
node_modules
results
