<form action="/projects/create" method="post" accept-charset="utf-8">
    <fieldset id="metadata">
        <legend>Metadata</legend>
        <div class="field">
            <label for="name">Name</label>
            <input type="text" name="name" value="" id="name" />
        </div>
        <div class="field">
            <label for="tags">Tags</label>
            <input type="text" name="tags" value="" id="tags" />
        </div>
        <div class="field">
            <label for="text">Description</label>
            <textarea name="text" rows="5" cols="36"></textarea>
        </div>
    </fieldset>
    <fieldset id="upload_attachments">
        <legend>Upload Attachments</legend>
        <div class="field">
            <input type="file" name="attachment" value="" id="" />
        </div>
    </fieldset>
    <fieldset id="configure">
        <legend>Configure</legend>
        <div class="field">
            <select name="preview_small" id="preview_small">
                <option value="default">Preview Small</option>
                <option>---</option>
            </select>
        </div>
        <div class="field">
            <select name="preview_big" id="preview_big">
                <option value="default">Preview Big</option>
                <option>---</option>
            </select>
        </div>
        <div class="field">
            <select name="mac_download" id="mac_download">
                <option value="none">Mac download</option>
                <option>---</option>
            </select>
        </div>
        <div class="field">
            <select name="download_windows" id="download_windows">
                <option value="none">Windows download</option>
                <option>---</option>
            </select>
        </div>
        <div class="field">
            <select name="download_widget" id="download_widget">
                <option value="none">Widget download</option>
                <option>---</option>
            </select>
        </div>
    </fieldset>
    <p><input type="submit" value="Finish"></p>
</form>