{% extends "layout.html" %}
{% block content %}
<form action="" method="post" accept-charset="utf-8">
    <fieldset>
        <label for="name">Name</label><input type="text" name="name" value="" id="name" />
        <label for="preview_small">Preview: small</label><input type="text" name="preview_small" value="" id="preview_small" />
        <label for="preview_big">Preview: big</label><input type="text" name="preview_big" value="" id="preview_big" />
        <label for="tags">Tags</label><input type="text" name="tags" value="" id="tags" />
        <label for="text">Text</label><textarea name="text" rows="8" cols="40" id="text"></textarea>
        <label for="active">Active</label><input type="checkbox" name="active" value="true" id="active"/>
        <label for="featured">Featured</label><input type="checkbox" name="featured" value="true" id="featured"/>
        <label for="attachment">Attachment</label><input type="file" name="attachment" value="" id="_attachments" />
        <input type="submit" name="formsubmit" value="Create" class="formsubmit" />
    </fieldset>
</form>
{% endblock %}