{%- extends "base.html" %}
{%- block title %}{{ project.name }} · {% endblock %}
{%- block content %}
<div id="single_project">
    <div id="{{ project.id }}" class="project">
        <a href="{{ url_for('index') }}" title="back" class="back"><img src="/static/img/back.png" alt="back" title="back" /></a>
        <div class="preview">
            <img src="/static/projects/{{ project._id }}/{{ project.preview_big }}" title="{{ project.name }}" alt="{{ project.name }}" />
        </div>
        <div class="info">
            <h1>{{ project.name }}</h1>
            {%- if project.category %}
            <span class="category">{{ project.category }}</span>
            {%- endif %}
            <div>{{ project.text|markup(project.markup) }}</div>
            {%- if project.download_mac and project.download_pc %}
                <p class="download">Download</p>
                <p class="download"><a href="/static/projects/{{ project.id }}/{{ project.download_mac }}" title="Download for Mac"><img src="/static/img/apple.png" title="Download for Mac" alt="Download for Mac" /></a><a href="/static/projects/{{ project.id }}/{{ project.download_pc }}"><img src="/static/img/win.png" title="Download for PC" alt="Download for PC" /></a></p>
            {%- elif project.download_mac %}
                <p><a href="/static/projects/{{ project.id }}/{{ project.download_mac }}" title="Download for Mac"><img src="/static/img/apple.png" title="Download for Mac" alt="Download for Mac" /></a></p>
            {%- elif project.download_pc %}
                <p class="download"><a href="/static/projects/{{ project.id }}/{{ project.download_pc }}"><img src="/static/img/win.png" title="Download for PC" alt="Download for PC" /></a></p>
            {%- endif %}
        </div>
    </div>
</div>
{%- endblock %}