{%- extends "layout.html" %}
{%- block content %}
<div id="single_project">
    <div id="{{ project.id }}" class="project">
        <a href="/" title="back" class="back"><img src="/static/img/back.png" alt="back" title="back" /></a>
        <div class="preview">
            <img src="/static/projects/{{ project._id }}/{{ project.preview_big }}" title="{{ project.name }}" alt="{{ project.name }}" />
        </div>
        <div class="info">
            <h2>{{ project.name }}</h2>
            <p>{{ project.text }}</p>
            <ul class="tags">
                {%- for tag in project.tags %}
                <li>{{ tag }}</li>
                {%- endfor %}
            </ul>
            <ul class="attachments">
                {%- for attachment in project._attachments %}
                <li><a href="/static/projects/{{ project._id }}/{{ attachment }}" title="{{ attachment }}">{{ attachment }}</a></li>
                {%- endfor %}
            </ul>
        </div>
    </div>
</div>
{%- endblock %}