{% extends "base.html" %}
{%- block title %}update document · {% endblock %}
{% block content %}
<div id="mask">
    <h3>Attachments</h3>
    <ul>
    {%- for attachment in project._attachments %}
        <li>· <a href="/static/projects/{{ project._id }}/{{ attachment }}">{{ attachment }}</a> [ <a href="{{ url_for('deleteAttachment', docid=project._id, attachment=attachment) }}" title="delete {{ attachment }}">x</a> ]</li>
    {%- endfor %}
    </ul>
    <form id="upload" action="{{ url_for('uploadAttachment', docid=project._id) }}" method="post" accept-charset="utf-8" enctype="multipart/form-data">
        <fieldset>
            <legend>Upload attachments</legend>
            <input type="file" name="upload" />
            <input type="submit" name="formsubmit" value="upload" class="formsubmit" />
        </fieldset>
    </form>
    <form id="update" action="" method="post" accept-charset="utf-8">
        <fieldset>
            <legend>Update document</legend>
            {%- include "projects/_form.html" %}
            <input type="submit" name="formsubmit" value="update" class="formsubmit" />
        </fieldset>
    </form>
</div>
<div id="sub">
    <a href="{{ url_for('retrieve', docid=project._id) }}" title="{{ project.name }}">back to {{ project.name }}</a>
</div>
{% endblock %}