{% extends "layout.html" %}
{% block content %}
<form action="" method="post" accept-charset="utf-8">
    <fieldset>
        <input type="hidden" name="id" id="id" value="{{ doc._id }}" />
        <input type="hidden" name="rev" id="rev" value="{{ doc._rev }}" />
        <label for="name">Name</label><input type="text" name="name" value="{{ doc.name }}" id="name" />
        <label for="image_name">Image Name</label><input type="text" name="image_name" value="{{ doc.image_name }}" id="image_name" />
        <label for="tags">Tags</label><input type="text" name="tags" value="{{ doc.tags }}" id="tags" />
        <label for="text">Text</label><textarea name="text" rows="8" cols="40" id="text">{{ doc.text }}</textarea>
        <label for="active">Active</label><input type="checkbox" name="active" value="true" id="active" {% if doc.active %}checked="checked"{% endif %}/>
        <label for="featured">Featured</label><input type="checkbox" name="featured" value="true" id="featured" {% if doc.featured %}checked="checked"{% endif %}/>
        
        <input type="submit" name="formsubmit" value="Update" class="formsubmit" />
    </fieldset>
</form>
{% endblock %}