a { color: rgb(220, 75, 30); text-decoration: none; }
a:active { color: rgb(210, 0, 0); }

nav ul { margin: 0; height: 36px; }
nav ul li { float: left; display: block; line-height: 36px; }
nav ul li a { padding: 0px 12px; }
article { min-height: 400px; }
footer { position: relative; left: 0; bottom: 0; }
footer.loggedin { border-top-style: solid; border-top-width: 4px; border-top-color: rgb(110, 110, 110); }

header h1                           { color: rgb(186, 204, 221);}
header h1                           { font-family: HelveticaNeue-Light, Helvetica, Arial; font-weight: bold; }
header h2                           { font-family: HelveticaNeue-Light, Helvetica, Arial; } 

#page {
  width: 990px;
  margin: 0px auto;
  position: relative;
  padding: 0px 18px;
  background-position: 18px 1px;
}

.restricted {
  background-color: rgb(110, 110, 110);
  color: rgb(255, 255, 255);
  border: 1px solid #333;
  display: block;
  margin: 10px 0px;
  padding: 3px 8px; }
.right {
  text-align: right;
}
