<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="application/xhtml+xml; charset=utf-8" />
		    <meta http-equiv="content-language" content="en-en" />
        <title>{%- block title %}{%- endblock %}AMAZING PIXELZ</title>
        <link rel="alternate" type="application/rss+xml" title="RSS: projects | kinaj" href="{{ url_for('rss') }}" />
        <link rel="alternate" type="application/atom+xml" title="ATOM: projects | kinaj" href="{{ url_for('atom') }}" />
        <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon" />
        <link charset="utf-8" type="text/css" rel="stylesheet" media="all" href="/static/css/load.css" />
        <!--[if IE 7]>
            <link charset="utf-8" type="text/css" rel="stylesheet" media="screen" href="/static/css/ie7.css" />
        <![endif]-->
    </head>
    <body>
        <div id="page">
            <div id="header">
                <a href="{{ url_for('index') }}" title="AMAZING PIXELZ | kinaj"><img src="/static/img/kinaj.png" title="AMAZING PIXELZ | kinaj" alt="AMAZING PIXELZ" /></a>
            </div>
            <div id="content">
                {%- block content %}{%- endblock %}
                <div class="clearfix"></div>
            </div>
            <div id="footer">
                {%- if user and 'admin' in user.roles %}
                {%- include "_admin_footer.html" %}
                {%- else %}
                <ul>
                    <li><a href="aim:goim?screenname=kinaj@mac.com" title="contact me on iChat">aim</a></li>
                    <li>·</li>
                    <li><a href="mailto:mail@kinaj.com" title="send me an email">email</a></li>
                    <li>·</li>
                    <li><a href="http://flickr.com/photos/kinaj" title="visit me on flickr">flickr</a></li>
                    <li>·</li>
                    <li><a href="http://last.fm/user/hom3r" title="visit me on last.fm">last.fm</a></li>
                    <li>·</li>
                    <li><a href="http://twitter.com/kinaj" title="follow me on twitter">twitter</a></li>
                </ul>
                <p class="copyright">copyright © janik baumgartner</p>
                {%- endif %}
            </div>
        </div>
        <script charset="utf-8" type="text/javascript" src="/static/js/jquery.js"></script>
        {%- if not debug %}
        <script type="text/javascript">
            var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
            document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
        </script>
        <script type="text/javascript">
            try {
                var pageTracker = _gat._getTracker("UA-6679975-1");
                pageTracker._trackPageview();
                } catch(err) {}
        </script>
        {%- endif %}
  	</body>
</html>