<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="application/xhtml+xml; charset=utf-8" />
		<meta http-equiv="content-language" content="de-de" />
        <title>Finest Icons | kinaj</title>
        <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon" />
        <link charset="utf-8" type="text/css" rel="stylesheet" media="all" href="/static/css/load.css" />
        <link rel="alternate" type="application/rss+xml" title="RSS: projects | kinaj" href="{{ url_for('rss') }}" />
        <link rel="alternate" type="application/atom+xml" title="ATOM: projects | kinaj" href="{{ url_for('atom') }}" />
    </head>
    <body>
        <div id="page">
            <div id="header">
            </div>
            <div id="content">
                {%- block content %}{%- endblock %}
                <div class="clearfix"></div>
            </div>
            <div id="footer">
            </div>
        </div>
        <script charset="utf-8" type="text/javascript" src="/static/js/jquery.js"></script>
        <script charset="utf-8" type="text/javascript" src="/static/js/effects.core.js"></script>
        <script charset="utf-8" type="text/javascript" src="/static/js/effects.scale.js"></script>
        <script charset="utf-8" type="text/javascript" src="/static/js/base.js"></script>
  	</body>
</html>