{%- extends "layout.html" %}
{%- block content %}
<div id="project_list">
    <div id="featured">
        {%- for project in featured %}
        <div class="project" id="{{ project.id }}">
            <a href="/projects/retrieve/{{ project.slug }}/"><img src="http://localhost:5984/kinaj/{{ project._id }}/{{ project.preview_big }}" title="{{ project.name }}" alt="{{ project.name }}" /></a>
        </div>
        {%- endfor %}
    </div>
    <div id="list">
        {%- for project in active %}
        {%- if loop.index0 <= 3 %}
        <div class="project" id="{{ project.id }}">
            <a href="/projects/retrieve/{{ project.slug }}/" title="{{ project.name }}"><img src="http://localhost:5984/kinaj/{{ project._id }}/{{ project.preview_small }}" title="{{ project.name }}" alt="{{ project.name }}" /></a>
        </div>
        {%- endif %}
        {%- endfor %}
        <div class="clearfix"></div>
    </div>
    <div id="mainlist">
        {%- for project in main %}
        <div class="project" id="{{ project.id }}">
            <a href="/projects/retrieve/{{ project.slug }}/" title="{{ project.name }}"><img src="http://localhost:5984/kinaj/{{ project._id }}/{{ project.preview_small }}" title="{{ project.name }}" alt="{{ project.name }}" /></a>
        </div>
        {%- if loop.index0 >= 4 %}
        
        {%- endif %}
        {%- endfor %}
    </div>
</div>
{%- endblock %}