@charset "utf-8";
@media screen {
    html {}
    body {background: rgb(135, 148, 159); color: rgb(255, 255, 255); font-size: 10px; font-family: helvetica, arial, verdana, sans-serif; font-weight: lighter; line-height: 15px; text-align: center;}
    img {font-size: 10px;}
    
    a {color: rgb(255, 255, 255); text-decoration: none;}
    strong {font-weight: bold;}
    
    #page {margin: 0 auto; text-align: left;}
    
    #placeholder {width: 400px; margin: 110px auto 0 auto; font-size: 11px; text-align: center; font-weight: bold; letter-spacing: 0.04em; -moz-text-shadow: rgb(48, 65, 79) 0px 1px 2px; -webkit-text-shadow: rgb(48, 65, 79) 0px 1px 2px; text-shadow: rgb(48, 65, 79) 0px 1px 2px;}
    #placeholder #front {display: none; margin: 170px 0px 0px 0px;}
    #placeholder #back {display: none; margin: 65px 0px 0px 0px;}
    #placeholder h1 {text-align: center;}
    #placeholder ul li {display: block; text-align: center;}
    #placeholder ul li img {display: block; margin: 0 auto 55px auto; cursor: pointer;}
    #placeholder ul li p,
    #placeholder ul li a {padding: 1px 2px; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px;}
    #placeholder ul li a:hover {background: rgb(152, 163, 173);}
    
    #placeholder #back {}
    
    .twotimes {margin-bottom: 30px;}
    .onetime {margin-bottom: 15px;}
}
