{%- extends "base.html" %}
{%- block title %}list · {% endblock %}
{%- block content %}
<div id="project_list">
{%- for project in active %}
    {%- if loop.first %}
    <h1>List of projects</h1>
    <dl>
        {%- endif %}
        <dt>· <a href="{{ url_for('retrieve', docid=project._id) }}" title="{{ project.name }}">{{ project.name }}</a>{%- if user and 'admin' in user.roles %} [ <a href="{{ url_for('update', docid=project._id) }}" title="update {{ project.name }}">e</a> · <a href="{{ url_for('delete', docid=project._id) }}" title="delete {{ project.name }}">x</a> ]{%- endif %}</dt>
        <dd>{{ project.category }}</dd>
        {%- if loop.last %}
    </dl>
    {%- endif %}
{%- else %}
    <h1>No project created yet.</h1>
{%- endfor %}
</div>
<div id="sub">
    <a href="{{ url_for('index') }}" title="back to showroom">back to Showroom</a>
</div>
{%- endblock %}