{{<base.html}}

{{+navigation}}
{{/navigation}}

{{+workspace}}
<header>
  <h1>Login</h1>
</header>
<section>
  <form action="{{ action }}" method="post" accept-charset="utf-8" class="unitx4">
    <fieldset class="unitx2">
      <label>
        username
        <input type="text" name="username" id="username" class="unitx2">
      </label>
      <label>
        password
        <input type="password" name="password" id="password" class="unitx2">
      </label>
    </fieldset>
    <fieldset class="unitx4">
      <input type="submit" value="login">
    </fieldset>
  </form>
</section>
{{/workspace}}

{{+meta}}
{{/meta}}
