<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="robots" content="noindex, nofollow" />
    <meta name="domain" content="http://admin.{{ domain }}" />
    
    <link type="text/css" rel="stylesheet" media="screen" href="http://static.{{ domain }}/css/baseline.reset.css">
    <link type="text/css" rel="stylesheet" media="screen" href="http://static.{{ domain }}/css/baseline.base.css">
    <link type="text/css" rel="stylesheet" media="screen" href="http://static.{{ domain }}/css/baseline.grid.css">
    <link type="text/css" rel="stylesheet" media="screen" href="http://static.{{ domain }}/css/baseline.form.css">
    <link type="text/css" rel="stylesheet" media="screen" href="http://static.{{ domain }}/css/baseline.table.css">
    <link type="text/css" rel="stylesheet" media="screen" href="http://static.{{ domain }}/css/baseline.type.css">
    <link type="text/css" rel="stylesheet" media="screen" href="http://static.{{ domain }}/css/screen.css">
    <title>kinaj</title>
  </head>
  <body>
    <div id="page">
      <nav class="unitx1 first column">
        {{+navigation}}
          {{>partials/navigation.html}}
        {{/navigation}}
        {{+flash}}
          {{>partials/flash.html}}
        {{/flash}}
      </nav>
      <article id="workspace" class="unitx7 column">
        {{+workspace}}
        {{/workspace}}
      </article>
      <footer class="width4 clear">
        {{+meta}}
          {{>partials/meta.html}}
        {{/meta}}
      </footer>
    </div>
    <script type="text/javascript" src="http://static.{{ domain }}/js/jquery.js"></script>
    <script type="text/javascript" src="http://static.{{ domain }}/js/jquery.html5_upload.js"></script>
    <script type="text/javascript" src="http://static.{{ domain }}/js/jquery.history.js"></script>
    <script type="text/javascript" src="http://static.{{ domain }}/js/kinaj.js"></script>
  </body>
</html>
