<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="robots" content="noindex, nofollow" />
    <meta name="domain" content="http://admin.{{ domain }}" />
    
    <title>kinaj - login</title>
  </head>
  <body>
    <div id="navigation">
    {{+navigation}}
      {{>partials/navigation.html}}
    {{/navigation}}
    {{+flash}}
      {{>partials/flash.html}}
    {{/flash}}
    </div>
    <div id="workspace">
    {{+workspace}}
    {{/workspace}}
    </div>
    <div id="meta">
    {{+info}}
      {{>partials/meta.html}}
    {{/info}}
    </div>
    <script type="text/javascript" src="http://static.{{ domain }}/js/kinaj.js"></script>
  </body>
</html>

