@charset "utf-8";
@media screen {
    html {background: rgb(135, 148, 159);}
    body {background: rgb(135, 148, 159); color: rgb(255, 255, 255); font-size: 10px; font-family: helvetica, arial, verdana, sans-serif; font-weight: lighter; line-height: 15px; text-align: center;}
    img {font-size: 10px;}

    a {color: rgb(255, 255, 255); text-decoration: none;}
    strong {font-weight: bold;}

    #page {margin: 0 auto; text-align: left;}
    #page h1 {margin: 100px 0px 0px 0px; text-align: center;}

    #info {position: absolute; top: -22px; left: 0; width: 100%; padding: 2px 0px 0px 0px; background: rgb(163, 173, 181); font-size: 10px; text-align: center; border-bottom: 1px solid rgb(205, 210, 215);}
    #info p {line-height: 18px; border-bottom: 1px solid rgb(150, 159, 167);}

    #showroom {position: relative; width: 400px; min-height: 230px; margin: 100px auto 0 auto; font-size: 11px; text-align: center; font-weight: bold; letter-spacing: 0.04em; -moz-text-shadow: rgb(48, 65, 79) 0px 1px 2px; -webkit-text-shadow: rgb(48, 65, 79) 0px 1px 2px; text-shadow: rgb(48, 65, 79) 0px 1px 2px;}
    #showroom div {position: absolute; display: none; width: 400px; top: 0; left: 0; text-align: center;}
    #showroom div img {display: block; margin: 0 auto 55px auto; cursor: pointer;}
    #showroom div p,
    #showroom div a {padding: 1px 2px; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px;}
    #showroom div a:hover {background: rgb(152, 163, 173);}

    #navigation {display: block; width: 165px; margin: 0 auto; font-size: 15px; cursor: default;}
    #navigation li {float: left;}
    #navigation li a {display: block; width: 5px; height: 15px; padding: 0px 2px; text-align: center; color: rgb(164, 178, 190);}
    #navigation li a:hover {color: rgb(191, 207, 221);}
    #navigation li a.active {color: rgb(255, 255, 255);}

    .twotimes {margin-bottom: 30px;}
    .onetime {margin-bottom: 15px;}
}
