{%- extends "base.html" %}
{%- block title %}Login · {% endblock %}
{%- block content %}
<div id="mask">
    <form action="" method="post" accept-charset="utf-8">
        <fieldset>
            <legend>Login</legend>
            <input type="hidden" name="referrer" value="{{ referrer }}" id="referrer" />
            <label for="username">Username</label>
            <input type="text" name="username" value="" id="username" />
            <label for="password">Password</label>
            <input type="password" name="password" value="" id="password" />
            <input type="submit" name="submit" value="log in" id="submit" class="formsubmit" />
        </fieldset>
    </form>
</div>
{%- endblock %}